{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}
<script>
function bindData(data, type){

		var requestURL = 'http://10.10.4.189:8080/MatRest/bind';
		
		if(data.charAt(0) == ':')
			data = data.replace(':///', "http://10.10.4.188:5000/");
		document.getElementById("bindButton").disabled = true;
		document.getElementById("bindButton").text = "Loading...";
		data;

		$.ajax({
			type: "GET",
			url:requestURL,
			data: {url:data, type:type},
			dataType:'json',
			crossDomain: true
			
		}).done(function(msg){
			alert("Bind Success \n" + msg.message);
			console.log(msg);
			document.getElementById("bindButton").disabled = false;
		}).error(function(msg){
			alert("Bind Error");
			console.log(msg);
			document.getElementById("bindButton").disabled = false;
		});

}
</script>
<li class="resource-item" data-id="{{ res.id }}">
  {% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {% if res.format == "SPARQL" %}
    	{{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" style="background:url('http://lab.linkeddata.deri.ie/2011/rdf-logos/png/sparql-128.png') !important; background-size:contain !important;"></span>
    {% elif res.format == "RQ" %}
    	{{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" style="background:url('http://solidthinking.files.wordpress.com/2009/04/rqicon1.jpg') !important; background-size:contain !important;"></span>
    {% elif res.format == "WAR" %}
    	{{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" style="background:url('http://www.wolf-studios.com/media/ApocalypseIcon512.png') !important; background-size:contain !important;"></span>
    {% elif res.format == "SKEL" %}
	{{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" style="background:url('/base/images/skeleton.png') !important; background-size:contain !important;"></span>
    {% else %}
    	{{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    {% endif %}
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
  {% endblock %}
  {% block resource_item_description %}
    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(res.description, extract_length=80) }}
      {% endif %}
    </p>
  {% endblock %}
  {% block resource_item_explore %}
  {% if not url_is_edit %}
  
  <div class="dropdown btn-group">
	{% if res.format == "SPARQL" %}
		<button id="bindButton" class="btn btn-info" onclick="bindData('{{res.url}}', 'service')">  
			<i class="icon-external-link" style="background-image:'http://10.10.4.193:8080/images/bind.jpg'"></i>
			Register
		</button>
	{% elif res.format == "RQ" %}
		<button id="bindButton" class="btn btn-info" onclick="bindData('{{res.url}}', 'query')">  
			<i class="icon-external-link" style="background-image:'http://10.10.4.193:8080/images/bind.jpg'"></i>
			Save
		</button>
	{% elif res.format == "WAR" %}
		<button id="bindButton" class="btn btn-info" onclick="bindData('{{res.url}}', 'analytic')">  
			<i class="icon-external-link" style="background-image:'http://10.10.4.193:8080/images/bind.jpg'"></i>
			Deploy
		</button>
	{% elif res.format == "SKEL" %}
		<button id="bindButton" class="btn btn-info" onclick="bindData('{{res.url}}', 'skeleton')">  
			<i class="icon-external-link" style="background-image:'http://10.10.4.193:8080/images/bind.jpg'"></i>
			Register Skeleton
		</button>

	{% else %}
		<button id="bindButton" class="btn btn-info" onclick="bindData('{{res.url}}', {%if res.resource_type == "ONTOLOGY"%}'ontology'{% else %}'data'{% endif%})">  
			<i class="icon-external-link" style="background-image:'http://10.10.4.193:8080/images/bind.jpg'"></i>
			
			Load
                     {%if res.resource_type == "ONTOLOGY"%}
			 Ontology
			{% else %}
			 Data
			{% endif%}
		</button>
	{% endif %}


    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="icon-share-alt"></i>
      {{ _('Explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      <li>
        <a href="{{ url }}">
          {% if res.can_be_previewed %}
            <i class="icon-bar-chart"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="icon-info-sign"></i>
            {{ _('More information') }}
          {% endif %}
        </a>
      </li>
      <li>
        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
          {% if res.can_be_previewed %}
            <i class="icon-download"></i>
            {{ _('Download') }}
          {% else %}
            <i class="icon-external-link"></i>
            {{ _('Go to resource') }}
          {% endif %}
        </a>
      </li>
      {% if can_edit %}
      <li>
        <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
          <i class="icon-edit"></i>
          {{ _('Edit') }}
        </a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
  {% endif %}
  {% endblock %}
</li>
